<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {% block head %}
    {% endblock %}
    <title>{% block title %}{{ title }}{% endblock %}</title>
</head>

<body>
    <nav>
        <ul>
            <a href="{{ url_for('home') }}"><li>New Chat</li></a>
            <a href=""><li>Search</li></a>
            <a href="{{ url_for('upload') }}"><li>Upload file</li></a>
        </ul>
        <br>
        <small>Chats</small>
        <div class="chats">
            {% for i, chat in chats | enumerate %}
            <div class="chat{{' current-chat focused' if chat.id == convo.id else ''}}">
                <a href="{{ url_for('chat_get', convo_id=chat.id) }}">
                    <div>{{ chat.title if chat.title else chat.id }}</div>
                </a>
                <span tabindex="0">{% include "three_dots.svg" %}
                    <div tabindex="0" class="convo-popup">
                        <a href="#">Rename
                            <form action="{{ url_for('chat_rename', convo_id=chat.id) }}" method="post" aria-label="rename">
                                <input type="text" name="chat_name">
                                <button type="submit">OK</button>
                            </form>
                        </a>
                        <a href="{{ url_for('chat_delete', convo_id=chat.id) }}" class="delete">Delete</a>
                        <!-- {# Use modal to display delete confirmation #} -->
                    </div>
                </span>
            </div>
            {% endfor %}
        </div>
    </nav>
    <main>
        <div class="header">
            <select name="model-name" id="models">
                <option value="qwen2.5:7b">Qwen2.5:7b</option>
                <option value="qwen2.5-coder:0.5b">Qwen2.5-coder:0.5b</option>
            </select>
            <a href="{{url_for('refresh_models')}}" style="color: #187f07; font-weight:700; font-size: 1.2rem" title="Refresh models list">⟲</a>
        </div>
        {% block main %}
        {% endblock %}
    </main>
    <script src="{{url_for('static', filename='change_model.js')}}"></script>
</body>

</html>