<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <title>{% block title %}{{ title if title else "ChatLLM" }}{% endblock %}</title>
</head>

<body>
    <nav>
        <ul>
            <a href="{{ url_for('home') }}"><li>New Chat</li></a>
            <a href=""><li>Search</li></a>
            <a href=""><li>Upload file</li></a>
        </ul>
        <br>
        <small>Chats</small>
        <div class="chats">
            {% for i, chat in chats | enumerate %}
            <div class="chat{{' current-message focused' if chat.id == convo_id else ''}}">
                <a href="{{ url_for('chat_get', convo_id=chat.id) }}">
                    <div>{{ chat.title if chat.title else chat.id }}</div>
                </a>
                <span tabindex="0">{% include "three_dots.svg" %}
                    <div tabindex="0" class="convo-popup">
                        <a href="{{ url_for('chat_rename', convo_id=chat.id) }}">Rename</a>
                        <a href="{{ url_for('chat_delete', convo_id=chat.id) }}" class="delete">Delete</a>
                        <!-- {# Use modal to display delete confirmation #} -->
                    </div>
                </span>
            </div>
            {% endfor %}
            <div class="chat">
                <a href="">
                    <div>Lorem ipsum dolor sit, amet consectetur adipisicing.</div>
                </a>
                <span tabindex="0">{% include "three_dots.svg" %}
                    <div tabindex="0" class="convo-popup">
                        <a href="/rename">Rename</a>
                        <a href="/delete" class="delete">Delete</a>
                    </div>
                </span>
            </div>
        </div>
    </nav>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <script>
        document.querySelectorAll('.chat a').forEach(node => {
            node.addEventListener('click', (event) => {
                console.log(node.href, "has been clicked")
            })
        })
    </script>
</body>

</html>