{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
{% endblock %}
{% block title %} {{ convo.title }} {% endblock %}
{% block main %}
<div class="chat-window">
    <div class="messages-screen">
        <div class="messages" id="messages">
            {% for message in convo.messages %}
            <p class="message {{message.role}}-message">{{ message.content }}</p>
            {% endfor %}
        </div>
    </div>
</div>
<form action="{{ url_for('chat_post', convo_id=convo.id) }}" id="user-message" method="POST">
    <div name="user_message" contenteditable="true" placeholder="What are you looking for?"></div>
    <button type="submit" id="submit-button"> {% include "send.svg" %} </button>
</form>
<script src="{{ url_for('static', filename='ask_message.js') }}"></script>
{% endblock %}
