{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='chat.css')}}">
<style>#user-message { bottom: 50%; top: 50%;}</style>
{% endblock %}
{% block title %} {{ title if title else "LLMChat" }} {% endblock %}
{% block main %}
<form action="{{ url_for('home_post') }}" id="user-message" method="POST" onsubmit="return transfer_div_to_input()">
    <div name="user_message" contenteditable="true" placeholder="What are you looking for?"></div>
    <input type="text" name="user_message" style="display: none;">
    <button type="submit" id="submit-button"> {% include "send.svg" %} </button>
</form>
<script>
    function transfer_div_to_input() {
        document.querySelector('form input[name="user_message"]').value = document.querySelector('div[name="user_message"]').textContent
        return true
    }
</script>
{% endblock %}