.dz-drag-hover::after {
    position: absolute;
    content: '';
    width: 95%;
    height: 95%;
    top: 2.5%;
    left: 2.5%;
    border: 0.5rem dashed #c2c2c2;
}

.file-upload {
    background-color: #262627;
    height: 100%;
    width: 100%;
}

.dz-default.dz-message {
    color: #eee;
    font-weight: 700;
}